<footer>
  <!-- when you use something inside curly brace which isn't a partial handlebars
  is first gonna look for a helper and if there isn't a helper then it will look
  for a data inside curly brace -->
  <p>Copyright {{getCurrentYear}}</p>
</footer>
