<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    <!-- including header partial -->
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <!-- including footer partial -->
    {{> footer}}
  </body>
</html>
